In [25]:
import pandas as pd
import numpy as np

In [26]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [27]:
%time

CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 4.05 µs

数据导入和导出是pandas中很基础且重要的一个部分。pandas提供了很多不同格式数据的导入和导出方法，可以将其他格式数据转为DataFrame格式。我们可以将list、dict格式数据转为dataFrame格式，也可以从本地的csv、json等文本格式数据和sql、MongoDB等数据库中读取和保存数据等等。下面就分别以三大类介绍一些常见的数据格式的导入与导出。
下文中所有的示例代码都是在jupyter notebook中创作，还不太了解jupyter的小伙伴，可以先看看这篇文章哦：数据科学 | 始于Jupyter Notebooks：一份全面的初学者使用指南（链接：https://mp.weixin.qq.com/s/QhvKxWp9xR_Ui3YHCKX3gQ

In [28]:
%%timeit a = range (10)
min(a)

385 ns ± 124 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## 1 np.array、list、dict格式数据

### 1.1 list

一般读取一个list，生成的结果如下：

In [29]:
pd.DataFrame([1, 2, 3, 4])

   0
0  1
1  2
2  3
3  4

如果读取的list中的每个元素都是一个元组，会发生什么呢？

In [30]:
pd.DataFrame([(1, 2, 3, 4), (2, 3, 4, 5)],
             columns=['value1', 'value2', 'value3', 'value4'])

   value1  value2  value3  value4
0       1       2       3       4
1       2       3       4       5

如果忽略columns的话，第二个list的值不是列名，而是默认生成索引名，如下：

In [31]:
pd.DataFrame([(1, 2, 3, 4), (2, 3, 4, 5)], ['value1', 'value2'])

        0  1  2  3
value1  1  2  3  4
value2  2  3  4  5

### 1.2 dict

这里我们以一个字典为数据，看下不同操作的结果有何不同。

In [32]:
data = {'a': [1, 2], 'b': [2, 3]}

直接调用DataFrame进行读取的话，生成的DataFrame结构如下:

In [33]:
pd.DataFrame(data)

   a  b
0  1  2
1  2  3

In [34]:
pd.DataFrame.from_dict(data)

   a  b
0  1  2
1  2  3

需要说明的是：from_dict这个方法只有在pandas 0.23版本后才有，如果在早期的版本如0.19中调用会出现报错。

如果我们想以a，b作为索引，以list中的每个值分别为一列怎么操作呢？

In [35]:
pd.DataFrame.from_dict(data,orient='index',columns = ['value1','value2'])

   value1  value2
a       1       2
b       2       3

如果进一步想让a、b生成列的话，调用reset_index方法即可。

In [36]:
pd.DataFrame.from_dict(data,orient='index',columns = ['value1','value2']).reset_index().rename(columns = {'index':'key'})

  key  value1  value2
0   a       1       2
1   b       2       3

但是如果我们想把字典的key和value分别生成两列，如何操作呢? 
一种方法是：

In [37]:
pd.DataFrame(list(data.items()),columns = ['key','value'])

  key   value
0   a  [1, 2]
1   b  [2, 3]

还有一种方法依然是利用from_dict,不过就需要将value中的list提前转化成字符串，然后再进行操作即可。

### 1.3 np.array

numpy是比pandas更底层一些的数据操作工具，pandas的很多操作也是基于numpy进行的，比如numpy就支持直接读取txt文件。比如有这样一个txt文件：

```text
%%%
1 10 0.45240003518120125 1.0000444454321133 0.10599999999999998 1.0599999999999998e-01 0.22999999999999998 0.472   
2 20 0.43459179018909283 1.1133165687809157 0.07834109593771774 7.8341095937717736e-02 0.2089183326689947 0.3863815370463022   
3 30 0.40767309706715493 1.269342944674328 0.07190653014564094 7.1906530145640940e-02 0.17795528298262073 0.4136993009059622   
4 40 0.3859105442514819 1.3433376585083965 0.066153468987387 6.6153468987386999e-02 0.1477849202849159 0.261667203674047  
```

一共有4行8列的数据，数据间用空格隔开，表头带有%，那么读取的时候可以用loadtxt函数进行导入：

In [38]:
data = np.loadtxt('examples/fit.txt',
                  delimiter=None,
                  comments='%',
                  usecols=(0, 1, 4, 5))
data

array([[ 1.        , 10.        ,  0.106     ,  0.106     ],
       [ 2.        , 20.        ,  0.0783411 ,  0.0783411 ],
       [ 3.        , 30.        ,  0.07190653,  0.07190653],
       [ 4.        , 40.        ,  0.06615347,  0.06615347]])

可以看到数据自动剔除了表头，并且只用了其中指定的列。接下来就可以将array导入到pandas中：

In [39]:
Data = pd.DataFrame(data,
                    index=np.arange(len(data)),
                    columns=['a', 'b', 'c', 'd'])
Data

     a     b         c         d
0  1.0  10.0  0.106000  0.106000
1  2.0  20.0  0.078341  0.078341
2  3.0  30.0  0.071907  0.071907
3  4.0  40.0  0.066153  0.066153

### 1.4 其他方式

当然需要导入文本并不规则的时候，可以考虑直接利用python中的文件读取来一行一行的读取文件，然后利用json或者re等字符串处理包来处理数据，最后整合成DataFrame:

In [48]:
path='./examples/ex3.txt'

In [49]:
with open(path, "r") as load_f:
    l = load_f.readlines()

当然这个方法要结合具体的数据来看，这里就不展开介绍了。

## 2 文本格式数据

### 2.1 csv文件

#### 2.1.1 读取csv文件

pandas.read_csv(filepath_or_buffer, sep=',', header='infer', names=None, indxe_col=None)

* filepath_or buffer: str, path object or file-like object。指定传入的文件路径，必须传入的参数。
* sep: str。指定分隔符，默认是逗号分隔符。
* header: int, list or int。指定行数用来作为列名。默认是如果没有传入names参数，则header=0，用第一行作为列名，否则header=None，以传入的names作为列名。另外如果传入的是list，例如[0,1,3]，则是以第1、2、4这些行作为多级列名，且中间的行，第3行会被忽略，数据从第5行开始。
* names: array-like, optional。指定文件的列名。如果文件中没有标题行，建议传入此参数。
* index_col: int, str, or sequence  of int / str, or False。指定文件的索引，默认为None。

In [50]:
# 查看ex1.csv
!cat examples/ex1.csv

�:�V��\��w8�8ݕ(�,�.�J�6Q���80�ǥM_1�9�vp��ͻc��`x�A��w�ָM4� N����l�Rg�>X����y'7�I:�;(��Q�h"��ٝ�c��܄�m�{�H$~3's~�R9�h$�\)�E¡�k���H-�����EM�&W��F��h�B�6�y���E��d�0��#?'�Ñ�U�a��~x:����.o�^�&�                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        �Wg�5_{J���$�n�v�}�qqyȪ�HrHp.���'Y<�bt�A����
l�M���Ӳ��䴾���=�!7��*�o�Iq3��
��;@~���V����/�u�V��B�����P+�}Fحy}��mE�YH$N�o��y��bmר���������	�Hd�t�!~��� ���-�5<F��8�̧}�AVC>u�A�S�7��s���
J�8aeE�Gu!���:�]���5��di�����W��vp" -� �q����
˷Δ�� �!:�f��y38��Z�l�wU���6[ĥD&��Jy�g�y�)8Uf<��
�'
J��|��x֐�?a�H��S,�i�yk?�X���k#���	.���ų��o���}N���_��~��+��"[��%�Q.��UQ�4w��<���$����vHVu9�>�@lLg��hh;������|��
�y�@�Sr�`�0���(�����V�����;�
:�*WA�*8��f�jÓ=���U��x_��(�5�/�U&~�D��`�� ���Eꥧ�\������a���+��JB���X:�­lsY�YI��>�W�������s��{k�e1�'�L�w8�L{.2��u�W�!څ�b$�SP�D�C�����d}z�n_��x~�iJ���;�V����:@�Im�e
(�Q����Lm�C�B*� ����I���A���4V'��Hw�N��n�b�@d�5׎u�!�"ܷ靕��i#u�lY���V���H(-`�2XN�gA���1t�"h��l�|���3͠0�y2���
7L�@1B�>Jo ��Ti݁�����ٜ-B�-�|z,[�*	�S�j:���O���o����0l�� �J�|HG���A҃�q��)9�iXA#�� ��k�
�s(O�`%#�,G4/-��L-�İ_��#��C� �W�E҈�?%F�'#p,�]�F�m|P��C����Ā&�i��a�hw�,�'E��Hc��*J�9xv��� �+J�c����ǡ�mDn(��ZHQc�e�3��{���1�9�`���/J�#�v#��,�3#�.XM�7~֎Y�:�z�?1�[�a}�n?��`m��$܃oI;k�U�W�B�����)Kp��ϔ���b�4��@�r"�u�T�iV�����Т�3C��P�y�'�`�dJTC��K���PA��C����L�И��Z��
M.�)�#�D#te�z����eJj�t�M�����&T�˿�a:�@Msđf�����DN���^��m��[ ʃ�>�`�>î�7��q;�w:ћ��'��B ��s�?��v�8&���ts�yW��y)2���m]P��J��T�Q��
��8�|������j۹��J�]���6�$*8"QG�2"ۘw䖝�/$�E"$ֈ]��p��)��f��IF3^���|�w�u���8��:t�BoOth� ca����j�����s���ѣJo���UV�Ƨ&�Wa ��;o?3RK�J���2�G����-<�NZ���v��Dd8J8?E�V�43���:	�7���p��\�� �6O$Cd�FK6��j2�B{�B;�̶#�#����1v���!���j\�/��Y�
���{ƥ*&�'`��~q������|�I�A2�ܙ��``u��tVj��M���/���g^t�֚~��~���z��%g�٠��C��ة�o7hg�oCcj��#�<�D������hVd<���`�P�|�{� �A������ɳ��
��z���i@�ы��j��$v��I�b�zZ\�p�*GWc��4{�ŨF+4��~ˉ:��#,�����R�;�s���#�b��X����3Ap6ID������Y1��n�G���-Ӧ��'%�2$��%|#�*<�
T��M����A	�r)qZ}ھ�◞&`qϺ��6�g6nV�xg���"RH�I쀴�:������򇵼�|S�B75c�".��qt��c�����պ�ˢ�֭�1 ^�nfGu%���CF��I��"���@dNI��D�X�QUG�>���h�L��O�(�Ґ%��_沄�gL}�u|Db�Ãj�%ۇڴ&~��xTE���f����~��l~���8���_������^$Y>c��qT���n���o�.E�I�u"�}�@2��#6�^ܨ��������&����M��I�e�c�E�4IC��N>�

+�HW��5,H<}/���5�YI}
f^��h��6M:�mn%�tI�`�����ȹ@B]�@������(�"V���.���YoH%���K��'�}�"2(.�_~��Lm�#2�DF(sZ���m4=�� z�[jEVȂ��t�>7L�MUN"�8p�����.��q� 0���@I<s�zqw�9�s!l2��i�~���bn�l���ږ[:��%7 �wÕ���C$�ftk�Vݟ���n�XI+7�yr�Y�]c�v������P2RzC }8x����`4�1�&�Ob���� ��F���q�<�4�R�3,��?Ćt�	�B���U�<��PL�`Pb�u�~��	�x�Ɵ��6����������s��[(��^��aE��W�*DoM�l�����]�+�~~��	�ƨ':���t.s����Ý�S�j�
#���	�����1��������{�?�W7�����F���'F��+E<ɰ�Vs�Y�H�o-Ā�L4��:\�R��Y.Ϊ\|j�Ӎ��X׾�&��M[�Ͱ�Xg)�C)����	���f �56=�{*��w+qY�c�,�8��~�����.'���>�$��/����X�� ʹ���9g�ݑk2�6]��d���j3��2��f�]���%"��MÝ��u[�CI����^8O ����
�D�����n�V��r�U�meHz̝�d)���t&c�j���� 
���Q�z�|QU$���w�	+sn����G�ޔ'�}Qty$��A��G
��a�PO������c�d�n�`�=��U�:�.\�8b�o�Œ'���\�/���	�g7�����2�l�h6�G0�Vy!�hW�C9��Ro�6��e�K���B�P�p^y��u��RA

In [51]:
# 导入ex1.csv
df = pd.read_csv('examples/ex1.csv')
df

     ID name  age city message
0  A001   小明   18   北京   hello
1  A002   小王   20   杭州   world
2  A003   小北   21   上海   hello
3  A004   张三   18   北京  pandas

In [52]:
# 查看ex2.csv，ex2.csv没有标题行
!cat examples/ex2.csv

%TSD-Header-###%M.�'��LY�o#�D�?J              @  e��0�  `fP OđdE�����EM�&W�F��h�Cü�I9��ԯ�d�0��#?'�Ñ�j�o	��ɒ��1�9�h$�\)�E¡�k�\̧(-�����EM�&W�UF��h�B�6�y��ۤ��d�0��#?'�Ñ�U�a��~x:����.o�^�&�                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ߻PQ��Rș|}�#�ĵh<�!έ�U��|�C( wb�%�x����	�<�aÓ`��#�/Tҩ��.)�~�ȏ���a`D��O����Ʊa��N'�v�ɂ�'Ë��OU�zJӒQ�n��Q�tj	7�ߪV9I=���ʦ�E�zT��a�3��ST�� �Z먂�)��>�h�:vIjMvGʽ�M����d��%o��N>;�@e��H��WW? ���,�ݙSm|��R��-ƅ��4�F���!Y���#v����t��3�|�����еc�O	��n���O
���]ƺ�y��k�s����L�x�7��K�b���c�(���{
sD��;�(Ÿ?Z��l���1�?$�D 4�!�ę�rqҜ�&3��!*P��U:�aI�3�	��׾�a�zBv����*�R�X`�>ڊ}���M�r�цX#�D{����� D��_�������JA� ;��؉�

{A�=�h23�t�9n��o��Wy�@��z�ٍ��P��e9�d���Rle*C�����qɬ�"�~�L>��F��VI���b��Q����t^���$gmS�Ƀꖄ$���d9�;/!���ʠ�Й�tpn��S�ٙw7z�\1f��'��R
 +h��(��ӓ ������C>����*`a���a�+��9-UϤfi?l-@�����xy~}�C[��9G^��TVj�JWG7hC_⋾�^.R�����^��W�Oް*0�$�>��hbfO)��چ�7��ql����0�3b㷤Ҽ$"�
!Y��S�h�B<��`E�(�g�툳e�n�*�\��\y�o��g*����v+�3�qU����Fga�#��*x��� A��*n�M/�^�e*9cP4�u�MjGK@�	��V��/
0���C)���`Dg=��m�9���̹4yJsXh݌��޳@��� dl�B����ځp	�4�8U���7�(��/�r��{���Z1 �
���t��D��XeIW�^I�=QL��x��p!�k�ٷ*7�8Z]�l�~X� �M�fKV���2�?N�x(�'����[�w��ן�)�8�)0�nb5����	�3t�El)x�`��Ru���5��dV�C���d���aFNƿTΒ�D,�0�r��vƣ���ؘ���H>jz�O�ė�łYAӾK��a���q��"ϝU������ƅ���R��@X����E�x�@�IZ�����L��9x�6���r�d��u�@D�K��F���X�B4vO����)J��m�Sn�ٺ ��ٱ�G��ö�5�j}��&�lWC�h������Y4����xt�g��z}Qe����,򪮐Pؙ���{���rF|�`��q)�m�spŸȻn�t2���=P��WP|.������e1�"��*�fg�\��\�$���_`�$�j+8}Y�؞�y�ƀ�!t�QT'�IE�K�b������d��,F.��%��X_J�XxP��41Ru��\v<s1�������.T=
M%�y���6��n�K�R��ݡI�9m��[�Q�,��`�Γ����(�D{V��q��Y.MZX��.�=�/Bd^q|�o$��0o��ȏ ����A%��AB�k� =�jj���Q�Es3���'��K{�b��:\�Sa����)c��3��b	F��Km��'oV����F�:$�(IĿ��M�&?����J��V�{�-"��}�y�0YP�)th�9������~?^��݋k�@���w�` �_�k�6P�$EF:Z�A�F���v�\Fd�p��>�IIzOtt�m�ɀ��V���1���W����O���9/�.	�&�o5��\�
E��۪u�	=�5r���,��"��ppN����?v�a������.�!���9�}�m̩�3�< �:�x��S����`p�Tʔ����0��8��L��|ʯ����-�����n�DtB��.T4$x��D�;:5f
{�}PG�t�6rlv%���8�r�h'���+����?o�J���@B�<&j~Cz���1�V���V~����j�R<�F��N���u�c's�qEz�3wQ�����3X�kx cb`A����YÙ%t�>d�mYzn�r7�n<��2ۃ��.kp�x�Y;�Z�{�N�/��AG67:wB$������?8�)�X�˛89�p�[��\���/��,><N,�� �?EQk�� 9������g���d�~qN�,s
��5� # �ozЀh+}�j#�����z2k�4kP, SET�VQ�.���~f����2{�X9��'Dޜ����GSfHp{�D��k��*���0��Ԗ=ވ���AȴU���;��<[~$@#�ojj_��R��%v�O;d)L/
E��۪u�	=�5r���,��"��ppN����?v�a������.�!���9�}�m̩�3�< �:�x��S����`p�Tʔ����0��8��L��|ʯ����-�����n�DtB��.T4$x��D�;:5f=׻�K_|ֶ	v���́wӇ�'+T���x%����p�_"�Y0�G�-7���ڥ;��%�S�M�\�r�L����x���(w��o��[��Vp�0�A4a� �*��Q�%���/5��u8�}�k
{�}PG�t�6rlv%���8�r�h'���+����?o�J���@B�<&j~Cz���1�V���V~����j�R<�F��N���u�c's�qEz�3wQ�����3X�kx cb`A����YÙ%t�>d�mYzn�r7�n<��2ۃ��.kp�x�Y;�Z�{�N�/��AG67:wB$������?8�)�X�˛89�p�[��\���/��,><N,�� �?EQk�� 9������g���d�~qN�,s
��5� # �ozЀh+}�j#�����z2k�4kP, SET�VQ�.���~f����2{�X9��'Dޜ����GSfHp{�D��k��*���0��Ԗ=ވ���AȴU���;��<[~$@#�ojj_��R��%v�O;d)L/
��b��r7������ALAZ�K���m̈��J�SdU�!��oY@�U�5-

In [53]:
# 设置sep和header参数，导入ex2.csv
df2 = pd.read_csv('examples/ex2.csv',sep='|',header=None)
df2

      0   1   2   3       4
0  A001  小明  18  北京   hello
1  A002  小王  20  杭州   world
2  A003  小北  21  上海   hello
3  A004  张三  18  北京  pandas

In [54]:
# 设置sep和names参数，此时header默认为None
df3 = pd.read_csv('examples/ex2.csv',sep='|', names=['ID','name','age','city','message'])
df3

     ID name  age city message
0  A001   小明   18   北京   hello
1  A002   小王   20   杭州   world
2  A003   小北   21   上海   hello
3  A004   张三   18   北京  pandas

In [55]:
# 对ex1.csv设置多级标题，将第1、2、4行作为标题，数据从第5行开始
df4 = pd.read_csv('examples/ex1.csv',header=[0,1,3])
df4

     ID name age city message
   A001   小明  18   北京   hello
   A003   小北  21   上海   hello
0  A004   张三  18   北京  pandas

In [56]:
# 导入ex1.csv，指定索引为message一列
df5 = pd.read_csv('examples/ex1.csv',index_col='ID')
df5

     name  age city message
ID
A001   小明   18   北京   hello
A002   小王   20   杭州   world
A003   小北   21   上海   hello
A004   张三   18   北京  pandas

In [57]:
# 导入ex1.csv，指定第1和2列作为多重索引
df6 = pd.read_csv('examples/ex1.csv',index_col=[0,1])
df6

           age city message
ID   name
A001  小明    18   北京   hello
A002  小王    20   杭州   world
A003  小北    21   上海   hello
A004  张三    18   北京  pandas

#### 2.1.2 导出csv文件

pandas.to_csv(path_or_buf, index=True, header=True, sep=',', encoding='utf-8')

* path_or_buf: str or file handle。指定保存文件路径，必须传入的参数，默认为None。
* index: bool。导出的csv是否包含索引，默认为True。
* header: bool or list of str。导出的csv是否包含标题行，默认为True。
* sep: str。指定导出的csv文件的分隔符，默认为逗号分隔符。
* encoding: str。指定导出的csv文件的编码，默认为utf-8。

In [61]:
df.to_csv("./examples/out_ex1.csv",index=False)

### 2.2 excel文件

#### 2.2.1 导入excel文件

pandas.read_excel(io, sheet_name=0, header=0, names=None, index_col=None)

read_excel和read_csv的用法差不多，一个需要注意的参数是sheet_name。这个参数是指定读取该excel中具体哪个表的数据，默认为0，即为第一个表。如果传入1，则为第2个表；可指定传入表名，如"Sheet1"；也可传入多个表，如[0,'Sheet3']，传入第一个表和名为'Sheet3'的表。

In [63]:
# 读取ex1.xlsx文件，默认为读取第一个表
df = pd.read_excel("./examples/ex1.xlsx")
df

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [ ]:
# 读取ex1.xlsx文件的第2个表
df2 = pd.read_excel("examples/ex1.xlsx",sheet_name=1)
df2

In [ ]:
# 读取ex1.xlsx文件的第2个表和名为"Sheet3"的表，返回的是对象是OrderedDict
# OrderedDict是dict的子类，与dict不同的是，它记住了内容的顺序
od = pd.read_excel("examples/ex1.xlsx",sheet_name=[1,'Sheet3'])
od

In [ ]:
# 在这个orderedDict中，有两个key。
# 第一个key是1，对应的value为该表的内容；第二个key是'Sheet3',对应的value是Sheet3表格的内容。
# 我们选取key，就能得到相应的value。
od[1]

In [ ]:
od['Sheet3']

#### 2.2.2 导出excel文件

DataFrame.to_excel(excel_writer, sheet_name='Sheet1')

* excel_writer: str。指定保存文件路径。
* sheet_name: str。指定excel文件的表名，默认为’Sheet1‘。
* index：bool。是否保存索引，默认为True。

In [ ]:
df.to_excel('output/out_ex1.xlsx')

In [ ]:
df.to_excel('output/out_ex2.xlsx',sheet_name='结果',index=False)

### 2.3 txt文件

#### 2.3.1 导入txt文件

pandas.read_table(filepath_or_buffer, sep='t', header='infer', names=None, index_col=None）

read_table与read_csv的区别就是，read_csv默认的sep参数是','，而read_table是't'。

In [ ]:
!cat examples/ex3.txt

In [ ]:
df = pd.read_table('examples/ex3.txt')
df

In [ ]:
df2 = pd.read_table('examples/ex1.csv',sep=',')
df2

#### 2.3.2 导出txt文件

使用to_csv的方法

In [ ]:
df2.to_csv('output/ex3.txt',sep='\t')

### 2.4 csv和xlsx的选择

当我们可以选择保存为csv或者xlsx格式，方便下次可以使用的时候，是选择保存为csv还是excel呢？除了考虑csv和excel文件大小之外（相同的数据下excel文件比csv文件小），这里可以考虑下read_csv和read_xlsx的性能问题。在stackoverflow上有人对这两种导入方法进行了一个简单的测试。
* 测试文件：同样的数据集（分别是320MB的csv文件和16MB的xlsx文件）
* 电脑硬件：i7-7700k，SSD
* python环境：Anaconda Python 3.5.3, pandas 0.19.2

用时:
* pd.read_csv('foo,csv')	用时: 2s
* pd.read_excel('foo.xlsx')	用时: 15.3s
* df.to_csv('bar.csv',index=False)	用时: 10.5s
* df.to_excel('bar.xlsx',index=False)	用时: 34.5s

### 2.5 json文件

#### 2.5.1 导入json文件

pandas.read_json(path_or_buf=None, orient=None, typ='frame')

* path_or_buf: 指定文件路径，默认为None，必须传入的参数。
* orient: json字符串格式，默认为None。这里有split,records,index,columns,values五种选择可选。
    * split: dict like {index -> [index], columns -> [columns], data -> [values]}, 例如下面的ex4.json文件。
    * records: list like [{column -> value}, ..., {column -> value}]，例如下面的ex5.json文件。
    * index: dict like {index -> {column -> vlaue}}，例如下面的ex6.json文件。
    * columns: dict like {column -> {index -> value}}，例如下面的ex7.json文件。
    * values: just the values array，例如下面的ex8.json文件。
* typ: 要转换为series还是dataframe，默认为frame。当typ=frame时，orient可选split/records/index,默认为columns；当typ=series,orient可选split/records/index/columns/value,orient默认为index。

In [ ]:
# split格式
!cat examples/ex4.json

In [ ]:
df = pd.read_json('examples/ex4.json',orient="split")
df

In [ ]:
# records格式
!cat examples/ex5.json

In [ ]:
df1 = pd.read_json('examples/ex5.json',orient="records")
df1

In [ ]:
pd.read_json('examples/ex5.json',orient="records",typ="series")

In [ ]:
# index格式
!cat examples/ex6.json

In [ ]:
df2 = pd.read_json('examples/ex6.json',orient="index")
df2

In [ ]:
pd.read_json('examples/ex6.json',orient="index",typ="series")

In [ ]:
# columns格式，当typ='frame'时，orient默认为这个格式
!cat examples/ex7.json

In [ ]:
df3 = pd.read_json('examples/ex7.json',orient="columns")
df3

In [ ]:
df3_0 = pd.read_json('examples/ex7.json')
df3_0

In [ ]:
# 用columns格式读取ex6.json，其实与index格式的结果是行列的转置
df4 = pd.read_json('examples/ex6.json',orient="columns")
df4

In [ ]:
# values格式
!cat examples/ex8.json

In [ ]:
df5 = pd.read_json('examples/ex8.json',orient="values")
df5

#### 2.5.2 导出json文件

DataFrame.to_json(path_or_buf=None, orient=None,index=True)

* orient: string。指定导出json的格式。DataFrame默认是columns，Series默认是index。

In [ ]:
df

In [ ]:
df.to_json("output/out_ex4.json")

In [ ]:
!cat output/out_ex4.json

In [ ]:
se = pd.read_json('examples/ex6.json',orient="index",typ="series")

In [ ]:
se.to_json("output/out_ex5.json")

In [ ]:
!cat output/out_ex5.json

## 3 数据库

In [1]:
import pandas as pd
import numpy as np

### 3.1 mysql

在开始之前，请确保环境中的python为3.x版本，且已经安装并开启mysql服务。这里我们使用pymysql库来连接mysql。首先需要通过pip安装pymysql。安装后，可以通过import语句检验是否已经安装成功。如果没有报错，则说明安装成功。

pip install pymysql

In [2]:
import pymysql

In [ ]:
# 打开数据库连接
# 注意在进行这一步之前要先创建好数据库。如果数据库不存在，这一步会报错。

conn = pymysql.connect(host="localhost",user="username",password="password",db="dbtest")

# 创建一个游标对象
cursor = conn.cursor()

#### 3.1.1 数据导入mysql

In [ ]:
# 创建数据库表
sql_createTb = """CREATE TABLE user (
                 ID CHAR(4) NOT NULL,
                 name CHAR(20),
                 age INT,
                 city CHAR(20)
                 )
                 """
# 执行SQL语句
cursor.execute(sql_createTb)

In [ ]:
# 插入数据
insert1 = "INSERT INTO user(ID,name,age,city) values('A001','小明',18,'北京')"
insert2 = "INSERT INTO user(ID,name,age,city) values('A002','小王',20, '杭州');"
insert3 = "INSERT INTO user(ID,name,age,city) values('A003','张三',18, '北京');"
insert4 = "INSERT INTO user(ID,name,age,city) values('A004','张三',18, '北京');"
insert5 = "INSERT INTO user(ID,name,age,city) values('A005','李四',23, '上海');"
insert6=  "INSERT INTO user(ID,name,age,city) values('A006','小思',24, '广州');"


# 执行SQL语句
for sql_insert in [insert1,insert2,insert3,insert4,insert5,insert6]:
    cursor.execute(sql_insert)

# pymysql默认是没有开始自动提交事务的
# 所以在对更新数据库的时候，一定要手动提交事务
# 提交事务
conn.commit()

In [ ]:
# 更新数据
sql_update = "update user set city='深圳' where ID='A001'"

# 执行SQL语句
cursor.execute(sql_update)

#提交事务
conn.commit()

In [ ]:
# 删除数据
sql_delete = "delete from user where ID='A004'"
# 执行SQL语句
cursor.execute(sql_delete)
# 提交事务
conn.commit()

#### 3.1.2 读取mysql数据

In [ ]:
# 查询数据
sql_search  = "SELECT * FROM user"

# 执行SQL语句
cursor.execute(sql_search)

# 查看数据
results = cursor.fetchall()
results

In [ ]:
# 将结果转换dataframe格式
df = pd.DataFrame(list(results))
df.columns = ['ID','name','age','city']
df

In [ ]:
# 关闭数据库连接
cursor.close()
conn.close()

### 3.2 PostgreSQL

psycopg2是Python语言的PostgreSQL数据库接口之一，这里我们使用psycopg2连接，首先同样请确保环境中已经安装postgreSQL，以及已通过pip安装psycopg2了。

#### 3.2.1 读取postgreSQL的数据

In [ ]:
import psycopg2
 
# 连接数据库
conn = psycopg2.connect(database = 'name', user = 'username', password = 'password', host = '10.10.10.10', port = '5432')
 
curs=conn.cursor()
 
# 编写Sql，只取前两行数据
sql = 'select * from table_name limit 2'
 
#  数据库中执行sql命令
curs.execute(sql)
 
#获得数据
data = curs.fetchall()

返回的data结果是一个以各行数据为元组的列表，如下：

[('L002','WKQ1','WZ1A','WZ1A','L','WZ01-12',\
 '10073864791','R5400','5','18','36','362.29',\
'372.57','351','20190311','20190317','11','0','0',\
'0,8','3','3','0.83','3','3','20190310'),
('L002','WKQ1','WZ1A','WZ1A','L','WZ01-14',\
 '10073864791','R5400','5','18','36','300.29',\
'372.57','351','20190311','20190317','11','0','0',\
'0,8','3','3','0.83','3','3','20190310')]

可以通过pandas对data进行进一步处理：pd.DataFrame(data)

在insert的时候，需要注意以下几点：
1. 表中的字段不需要加引号；
2. 插入的每行数值用括号包围，其中各个字段以逗号间隔，字符串型必须加引号；
3. 以上sql命令可见，一条sql命令可以插入多条数据，只需要连接各个数据，最终commit一次就好；
4. 另外在写入PG的时候，应该注意PG中的数据如果出现单引号“ ' ”会出现错误，所以必须先使用replace替换成其他的内容方可写入。

#### 3.2.2 数据写入postgreSQL

In [ ]:
#编辑写入数据的sql    
insert_sql = \
"insert into table_name
(warehouse_code,storehouse_code,zone_code,picking_zone_code,picking_type,location_code,\
gds_id,kunnr,yest_tot_qty,week_tot_qty,month_tot_qty,week_avg_prlab,month_avg_prlab,\
present_storage,start_date,end_date,week_flag,unsaleble_flag,super_A,sales_segment,\
present_class,week_avg_qty,month_avg_qty,now_level,pred_level,statis_date,\
prediction_class,action,target_area) 
values
 ('L121','6','IWDX','IWDX','L','IWDX-001-0101','120339999','S70227820','0','0','2','1','1','1','20190311','20190317','11','0','0','0,7','1','0','0','1','1','20190310','2','2','targ_null'),\
 ('L002','WKQ1','WZ1A','WZ1A','L','WZ0114','10073864791','R5400','5','18','36','300.29',\
'372.57','351','20190311','20190317','11','0','0',\
'0,8','3','3','0.83','3','3','20190310')"
        
curs.execute(insert_sql)
 
#提交数据    
conn.commit()
#关闭指针和数据库
curs.close()
conn.close()

### 3.3 sqlalchemy

首先需要先通过pip安装sqlalchemy

In [ ]:
from sqlalchemy import create_engine

# 数据库名字
db = 'dbtest'

# user为用户名，password为密码
engine = create_engine("mysql+pymysql://username:password@localhost:3306/%s?charset=utf8mb4" % db, echo=False)

# 如果需要连接其他数据库，需要更改这里的create_engine
# 如postgresql:create_engine('postgresql://username:password@localhost/mydatabase')
# 具体可以查看 https://docs.sqlalchemy.org/en/13/core/engines.html

#### 3.3.1 读取数据库数据

在pandas中，我们可以通过read_sql_table和read_sql的方法来读取数据库，pandas会帮我们将结果直接转为dataframe的格式，这对于需要dataframe格式数据的来说是非常方便的。

In [ ]:
# 读取某个表的数据
pandas.read_sql_table(table_name, con)
# 查询sql
pandas.read_sql(table_name, con)

In [ ]:
# 读取数据库下现有所有的表
pd.read_sql('show tables', engine)

In [ ]:
# 读取数据下某个表的数据
pd.read_sql_table('user', engine)

#### 3.3.2 数据导入数据库

将dataframe格式的数据导入到数据库中，我们可以使用to_sql的方法。

In [ ]:
DataFrame.to_sql(name, con, if_exists='fail')

* name：导入库的表的名字
* if_exists：默认为"fail"，表示如果表不存在，直接报错；可选"replace"，导入的dataframe直接覆盖该表；可选"append"，将数据添加到表的后面。

In [ ]:
df = pd.read_csv('examples/sql.csv')
df

In [ ]:
# 将df导入数据库中
table_name = 'user2'
df.to_sql(table_name, engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_table('user2',engine)

### 3.4 MongoDB|

MongoDB 是目前最流行的 NoSQL 数据库之一，使用的数据类型 BSON（类似 JSON）。这里我们使用PyMongo连接MongoDB数据库。

In [ ]:
# 导入前需要pip安装pymongo，并开始mongoDB服务
from pymongo import MongoClient

# 连接mongoDB数据库 
myclient = MongoClient('mongodb://localhost:27017/')

#### 3.4.1 将数据导入数据库

In [ ]:
# 创建一个集合
mydb = myclient["dbtest"]
mycol = mydb["user"]


# 导入一条数据,data的格式为{col:value}
data_one = {"ID":"A011","name":"小黑","age":18,"city":"深圳"}
mycol.insert_one(data_one)

In [ ]:
# 导入多条数据
data_many = [{"ID":"A012","name":"小红","age":23,"city":"深圳"},
{"ID":"A013","name":"小白","age":30,"city":"深圳"},
{"ID":"A014","name":"小蓝","age":24,"city":"深圳"}]
mycol.insert_many(data_many)

In [ ]:
# 将dataframe转为json后导入mongo
import json
def df2mongo(df, col):
    records = json.loads(df.T.to_json()).values()
    result = col.insert_many(records)
    return result
df = pd.read_csv('examples/sql.csv')
df2mongo(df,mycol)

#### 3.4.2 读取数据库数据

In [ ]:
# 读取mongo某个集合的数据
mycol.find()

# 读取mongo某个集合的数据，并转为dataframe数据格式
df = pd.DataFrame(list(mycol.find()))
df

In [ ]:
# 指定条件查询,返回所有符合条件的数据 
myquery = { "city": "上海" }
mydoc = mycol.find(myquery)
list(mydoc)

In [ ]:
# 指定条件查询,返回符合条件的指定条件数据 
mydoc = mycol.find(myquery).limit(1)
for x in mydoc:
    print(x)

In [ ]:
myquery = { "age": { "$gt": 24 } }
 
mydoc = mycol.find(myquery)
 
for x in mydoc:
    print(x)