In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create SparkSession
spark = SparkSession.builder \
               .appName('SparkByExamples.com') \
               .getOrCreate()

## date convert to string

In [6]:
df = spark.createDataFrame([["1"]], ["id"])
df.select(current_date().alias("current_date"), \
      date_format(current_date(),"yyyy MM dd").alias("yyyy MM dd"), \
      date_format(current_timestamp(),"MM/dd/yyyy hh:mm").alias("MM/dd/yyyy"), \
      date_format(current_timestamp(),"yyyy MMM dd").alias("yyyy MMMM dd"), \
      date_format(current_timestamp(),"yyyy MMMM dd E").alias("yyyy MMMM dd E") \
   ).show()

+------------+----------+----------------+------------+------------------+
|current_date|yyyy MM dd|      MM/dd/yyyy|yyyy MMMM dd|    yyyy MMMM dd E|
+------------+----------+----------------+------------+------------------+
|  2021-08-16|2021 08 16|08/16/2021 11:07| 2021 Aug 16|2021 August 16 Mon|
+------------+----------+----------------+------------+------------------+

In [ ]:
#SQL
spark.sql(
    "select current_date() as current_date, " +
    "date_format(current_timestamp(),'yyyy MM dd') as yyyy_MM_dd, " +
    "date_format(current_timestamp(),'MM/dd/yyyy hh:mm') as MM_dd_yyyy, " +
    "date_format(current_timestamp(),'yyyy MMM dd') as yyyy_MMMM_dd, " +
    "date_format(current_timestamp(),'yyyy MMMM dd E') as yyyy_MMMM_dd_E"
).show()

## string convert to date

In [5]:
df = spark.createDataFrame([["02-03-2013"], ["05-06-2023"]], ["input"])
df.select(col("input"),to_date(col("input"),"MM-dd-yyyy").alias("date")) \
  .show()

+----------+----------+
|     input|      date|
+----------+----------+
|02-03-2013|2013-02-03|
|05-06-2023|2023-05-06|
+----------+----------+

+----------+
|      date|
+----------+
|2013-02-03|
+----------+

In [ ]:
#SQL
spark.sql("select to_date('02-03-2013','MM-dd-yyyy') date").show()

## timestamp convert to date

In [7]:
df = spark.createDataFrame(data=[("1", "2019-06-24 12:01:19.000")],
                           schema=["id", "input_timestamp"])
df.printSchema()

# Using Cast to convert Timestamp String to DateType
df.withColumn('date_type', col('input_timestamp').cast('date')) \
       .show(truncate=False)

# Using Cast to convert TimestampType to DateType
df.withColumn('date_type', to_timestamp('input_timestamp').cast('date')) \
  .show(truncate=False)

df.select(to_date(lit('06-24-2019 12:01:19.000'),'MM-dd-yyyy HH:mm:ss.SSSS')) \
  .show()

#Timestamp String to DateType
df.withColumn("date_type",to_date("input_timestamp")) \
  .show(truncate=False)

#Timestamp Type to DateType
df.withColumn("date_type",to_date(current_timestamp())) \
  .show(truncate=False)

df.withColumn("ts",to_timestamp(col("input_timestamp"))) \
  .withColumn("datetype",to_date(col("ts"))) \
  .show(truncate=False)

root
 |-- id: string (nullable = true)
 |-- input_timestamp: string (nullable = true)

+---+-----------------------+----------+
|id |input_timestamp        |date_type |
+---+-----------------------+----------+
|1  |2019-06-24 12:01:19.000|2019-06-24|
+---+-----------------------+----------+

+---+-----------------------+----------+
|id |input_timestamp        |date_type |
+---+-----------------------+----------+
|1  |2019-06-24 12:01:19.000|2019-06-24|
+---+-----------------------+----------+

+----------------------------------------------------------+
|to_date(06-24-2019 12:01:19.000, MM-dd-yyyy HH:mm:ss.SSSS)|
+----------------------------------------------------------+
|                                                2019-06-24|
+----------------------------------------------------------+

+---+-----------------------+----------+
|id |input_timestamp        |date_type |
+---+-----------------------+----------+
|1  |2019-06-24 12:01:19.000|2019-06-24|
+---+-----------------------+----------+

+---+-----------------------+----------+
|id |input_timestamp        |date_type |
+---+-----------------------+----------+
|1  |2019-06-24 12:01:19.000|2021-08-16|
+---+-----------------------+----------+

+---+-----------------------+-------------------+----------+
|id |input_timestamp        |ts                 |datetype  |
+---+-----------------------+-------------------+----------+
|1  |2019-06-24 12:01:19.000|2019-06-24 12:01:19|2019-06-24|
+---+-----------------------+-------------------+----------+

In [ ]:
#SQL TimestampType to DateType
spark.sql("select to_date(current_timestamp) as date_type")
#SQL CAST TimestampType to DateType
spark.sql("select date(to_timestamp('2019-06-24 12:01:19.000')) as date_type")
#SQL CAST timestamp string to DateType
spark.sql("select date('2019-06-24 12:01:19.000') as date_type")
#SQL Timestamp String (default format) to DateType
spark.sql("select to_date('2019-06-24 12:01:19.000') as date_type")
#SQL Custom Timeformat to DateType
spark.sql(
    "select to_date('06-24-2019 12:01:19.000','MM-dd-yyyy HH:mm:ss.SSSS') as date_type"
)

## string convert to timestamp

In [8]:
df = spark.createDataFrame(data=[("1", "2019-06-24 12:01:19.000")],
                           schema=["id", "input_timestamp"])
df.printSchema()

#Timestamp String to DateType
df.withColumn("timestamp",to_timestamp("input_timestamp")) \
  .show(truncate=False)

# Using Cast to convert TimestampType to DateType
df.withColumn('timestamp', \
         to_timestamp('input_timestamp').cast('string')) \
  .show(truncate=False)


df.select(to_timestamp(lit('06-24-2019 12:01:19.000'),'MM-dd-yyyy HH:mm:ss.SSSS')) \
  .show(truncate=False)

root
 |-- id: string (nullable = true)
 |-- input_timestamp: string (nullable = true)

+---+-----------------------+-------------------+
|id |input_timestamp        |timestamp          |
+---+-----------------------+-------------------+
|1  |2019-06-24 12:01:19.000|2019-06-24 12:01:19|
+---+-----------------------+-------------------+

+---+-----------------------+-------------------+
|id |input_timestamp        |timestamp          |
+---+-----------------------+-------------------+
|1  |2019-06-24 12:01:19.000|2019-06-24 12:01:19|
+---+-----------------------+-------------------+

+---------------------------------------------------------------+
|to_timestamp(06-24-2019 12:01:19.000, MM-dd-yyyy HH:mm:ss.SSSS)|
+---------------------------------------------------------------+
|2019-06-24 12:01:19                                            |
+---------------------------------------------------------------+

In [ ]:
#SQL string to TimestampType
spark.sql("select to_timestamp('2019-06-24 12:01:19.000') as timestamp")
#SQL CAST timestamp string to TimestampType
spark.sql("select timestamp('2019-06-24 12:01:19.000') as timestamp")
#SQL Custom string to TimestampType
spark.sql(
    "select to_timestamp('06-24-2019 12:01:19.000','MM-dd-yyyy HH:mm:ss.SSSS') as timestamp"
)

## current-date conver  to timestamp.py

In [ ]:
data = [["1"]]
df = spark.createDataFrame(data, ["id"])

#current_date() & current_timestamp()
df.withColumn("current_date",current_date()) \
  .withColumn("current_timestamp",current_timestamp()) \
  .show(truncate=False)

#SQL
spark.sql("select current_date(), current_timestamp()") \
     .show(truncate=False)

# Date & Timestamp into custom format
df.withColumn("date_format",date_format(current_date(),"MM-dd-yyyy")) \
  .withColumn("to_timestamp",to_timestamp(current_timestamp(),"MM-dd-yyyy HH mm ss SSS")) \
  .show(truncate=False)

#SQL
spark.sql("select date_format(current_date(),'MM-dd-yyyy') as date_format ," + \
          "to_timestamp(current_timestamp(),'MM-dd-yyyy HH mm ss SSS') as to_timestamp") \
     .show(truncate=False)

## datediff

In [9]:
data = [("1", "2019-07-01"), ("2", "2019-06-24"), ("3", "2019-08-24")]

df = spark.createDataFrame(data=data, schema=["id", "date"])

from pyspark.sql.functions import *

df.select(col("date"),
          current_date().alias("current_date"),
          datediff(current_date(), col("date")).alias("datediff")).show()

df.withColumn("datesDiff", datediff(current_date(),col("date"))) \
  .withColumn("montsDiff", months_between(current_date(),col("date"))) \
  .withColumn("montsDiff_round",round(months_between(current_date(),col("date")),2)) \
  .withColumn("yearsDiff",months_between(current_date(),col("date"))/lit(12)) \
  .withColumn("yearsDiff_round",round(months_between(current_date(),col("date"))/lit(12),2)) \
  .show()

data2 = [("1", "07-01-2019"), ("2", "06-24-2019"), ("3", "08-24-2019")]
df2 = spark.createDataFrame(data=data2, schema=["id", "date"])
df2.select(
    to_date(col("date"), "MM-dd-yyyy").alias("date"),
    current_date().alias("endDate"))

+----------+------------+--------+
|      date|current_date|datediff|
+----------+------------+--------+
|2019-07-01|  2021-08-16|     777|
|2019-06-24|  2021-08-16|     784|
|2019-08-24|  2021-08-16|     723|
+----------+------------+--------+

+---+----------+---------+-----------+---------------+------------------+---------------+
| id|      date|datesDiff|  montsDiff|montsDiff_round|         yearsDiff|yearsDiff_round|
+---+----------+---------+-----------+---------------+------------------+---------------+
|  1|2019-07-01|      777|25.48387097|          25.48|2.1236559141666667|           2.12|
|  2|2019-06-24|      784|25.74193548|          25.74|        2.14516129|           2.15|
|  3|2019-08-24|      723|23.74193548|          23.74|1.9784946233333331|           1.98|
+---+----------+---------+-----------+---------------+------------------+---------------+

DataFrame[date: date, endDate: date]

In [ ]:
#SQL
spark.sql(
    "select round(months_between('2019-07-01',current_date())/12,2) as years_diff"
).show()

## time-diff

In [ ]:
dates = [("1", "2019-07-01 12:01:19.111"), ("2", "2019-06-24 12:01:19.222"),
         ("3", "2019-11-16 16:44:55.406"), ("4", "2019-11-16 16:50:59.406")]

df = spark.createDataFrame(data=dates, schema=["id", "from_timestamp"])

from pyspark.sql.functions import *
df2=df.withColumn('from_timestamp',to_timestamp(col('from_timestamp')))\
  .withColumn('end_timestamp', current_timestamp())\
  .withColumn('DiffInSeconds',col("end_timestamp").cast("long") - col('from_timestamp').cast("long"))
df2.show(truncate=False)

df.withColumn('from_timestamp',to_timestamp(col('from_timestamp')))\
  .withColumn('end_timestamp', current_timestamp())\
  .withColumn('DiffInSeconds',unix_timestamp("end_timestamp") - unix_timestamp('from_timestamp')) \
  .show(truncate=False)

df2.withColumn('DiffInMinutes',round(col('DiffInSeconds')/60))\
  .show(truncate=False)

df2.withColumn('DiffInHours',round(col('DiffInSeconds')/3600))\
  .show(truncate=False)

#Difference between two timestamps when input has just timestamp

data = [("12:01:19.000", "13:01:19.000"), ("12:01:19.000", "12:02:19.000"),
        ("16:44:55.406", "17:44:55.406"), ("16:50:59.406", "16:44:59.406")]
df3 = spark.createDataFrame(data=data,
                            schema=["from_timestamp", "to_timestamp"])

df3.withColumn("from_timestamp",to_timestamp(col("from_timestamp"),"HH:mm:ss.SSS")) \
   .withColumn("to_timestamp",to_timestamp(col("to_timestamp"),"HH:mm:ss.SSS")) \
   .withColumn("DiffInSeconds", col("from_timestamp").cast("long") - col("to_timestamp").cast("long")) \
   .withColumn("DiffInMinutes",round(col("DiffInSeconds")/60)) \
   .withColumn("DiffInHours",round(col("DiffInSeconds")/3600)) \
   .show(truncate=False)

#

df3 = spark.createDataFrame(data=[("1", "07-01-2019 12:01:19.406")],
                            schema=["id", "input_timestamp"])
df3.withColumn("input_timestamp",to_timestamp(col("input_timestamp"),"MM-dd-yyyy HH:mm:ss.SSS")) \
    .withColumn("current_timestamp",current_timestamp().alias("current_timestamp")) \
    .withColumn("DiffInSeconds",current_timestamp().cast("long") - col("input_timestamp").cast("long")) \
    .withColumn("DiffInMinutes",round(col("DiffInSeconds")/60)) \
    .withColumn("DiffInHours",round(col("DiffInSeconds")/3600)) \
    .withColumn("DiffInDays",round(col("DiffInSeconds")/24*3600)) \
    .show(truncate=False)

In [ ]:
#SQL
spark.sql(
    "select unix_timestamp('2019-07-02 12:01:19') - unix_timestamp('2019-07-01 12:01:19') DiffInSeconds"
).show()
spark.sql(
    "select (unix_timestamp('2019-07-02 12:01:19') - unix_timestamp('2019-07-01 12:01:19'))/60 DiffInMinutes"
).show()
spark.sql(
    "select (unix_timestamp('2019-07-02 12:01:19') - unix_timestamp('2019-07-01 12:01:19'))/3600 DiffInHours"
).show()

In [ ]:
schema = StructType([StructField("input_timestamp", StringType(), True)])

dates = [
    '2019-07-01 12:01:19.111', '2019-06-24 12:01:19.222',
    '2019-11-16 16:44:55.406', '2019-11-16 16:50:59.406'
]

df = spark.createDataFrame(list(zip(dates)), schema=schema)

df.withColumn('input_timestamp',to_timestamp(col('input_timestamp')))\
  .withColumn('current_timestamp', current_timestamp().alias('current_timestamp'))\
  .withColumn('DiffInSeconds',current_timestamp().cast(LongType) - col('input_timestamp').cast(LongType))\
  .withColumn('DiffInMinutes',round(col('DiffInSeconds')/60))\
  .withColumn('DiffInHours',round(col('DiffInSeconds')/3600))\
  .withColumn('DiffInDays',round(col('DiffInSeconds')/24*3600))\
  .show()

## unix-time

In [ ]:
inputData = [("2019-07-01 12:01:19", "07-01-2019 12:01:19", "07-01-2019")]
columns = ["timestamp_1", "timestamp_2", "timestamp_3"]
df = spark.createDataFrame(data=inputData, schema=columns)
df.printSchema()
df.show(truncate=False)

df2 = df.select(
    unix_timestamp(col("timestamp_1")).alias("timestamp_1"),
    unix_timestamp(col("timestamp_2"),
                   "MM-dd-yyyy HH:mm:ss").alias("timestamp_2"),
    unix_timestamp(col("timestamp_3"), "MM-dd-yyyy").alias("timestamp_3"),
    unix_timestamp().alias("timestamp_4"))
df2.printSchema()
df2.show(truncate=False)

df3 = df2.select(
    from_unixtime(col("timestamp_1")).alias("timestamp_1"),
    from_unixtime(col("timestamp_2"),
                  "MM-dd-yyyy HH:mm:ss").alias("timestamp_2"),
    from_unixtime(col("timestamp_3"), "MM-dd-yyyy").alias("timestamp_3"),
    from_unixtime(col("timestamp_4")).alias("timestamp_4"))
df3.printSchema()
df3.show(truncate=False)

#SQL