# 引用包

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

# 数据导入

In [3]:
data_dict = {
    'color': [
        'black', 'white', 'black', 'white', 'black', 'white', 'black', 'white',
        'black', 'white'
    ],
    'size': ['S', 'M', 'L', 'M', 'L', 'S', 'S', 'XL', 'XL', 'M'],
    'date':
    pd.date_range('1/1/2019', periods=10, freq='W'),
    'feature_1':
    np.random.randn(10),
    'feature_2':
    np.random.normal(0.5, 2, 10)
}
array = [['A', 'B', 'B', 'B', 'C', 'A', 'B', 'A', 'C', 'C'],
         ['JP', 'CN', 'US', 'US', 'US', 'CN', 'CN', 'CA', 'JP', 'CA']]

index = pd.MultiIndex.from_arrays(array, names=['class', 'country'])
data_df = pd.DataFrame(data_dict, index=index)
data_df

               color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.701038   1.651489
B     CN       white    M 2019-01-13   1.555758  -3.690971
      US       black    L 2019-01-20   0.623657  -0.942296
      US       white    M 2019-01-27   0.007590   0.297369
C     US       black    L 2019-02-03   0.623607   1.678916
A     CN       white    S 2019-02-10   0.217375   1.611896
B     CN       black    S 2019-02-17  -0.061813   1.710104
A     CA       white   XL 2019-02-24  -0.023663  -1.048633
C     JP       black   XL 2019-03-03  -0.596158  -3.032008
      CA       white    M 2019-03-10   1.173790  -1.170137

# 分组
将dataframe根据size进行分组，得到group_1。在这里我们将GroupBy对象转换list后输出。

In [4]:
group_1 = data_df.groupby('size')
for i in list(group_1):
    print(i)
    print('\n')

('L',                color size       date  feature_1  feature_2
class country
B     US       black    L 2019-01-20   0.623657  -0.942296
C     US       black    L 2019-02-03   0.623607   1.678916)


('M',                color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13   1.555758  -3.690971
      US       white    M 2019-01-27   0.007590   0.297369
C     CA       white    M 2019-03-10   1.173790  -1.170137)


('S',                color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.701038   1.651489
      CN       white    S 2019-02-10   0.217375   1.611896
B     CN       black    S 2019-02-17  -0.061813   1.710104)


('XL',                color size       date  feature_1  feature_2
class country
A     CA       white   XL 2019-02-24  -0.023663  -1.048633
C     JP       black   XL 2019-03-03  -0.596158  -3.032008)

对GroupBy对象进行分组运算，如sum(),非数值数据则不进行分组运算。将计算得到的数据添加表头前缀后输出

In [5]:
group_1.sum().add_prefix('sum_')

      sum_feature_1  sum_feature_2
size
L          1.247264       0.736619
M          2.737137      -4.563739
S          0.856600       4.973488
XL        -0.619821      -4.080641

根据size进行分组后获得所有size值为M的行向量

In [6]:
group_1.get_group('M')

               color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13   1.555758  -3.690971
      US       white    M 2019-01-27   0.007590   0.297369
C     CA       white    M 2019-03-10   1.173790  -1.170137

将dataframe根据size和color两个列标签进行多重分组，得到group_2

In [7]:
group_2 = data_df.groupby(['size', 'color'])
for i in list(group_2):
    print(i)
    print('\n')

(('L', 'black'),                color size       date  feature_1  feature_2
class country
B     US       black    L 2019-01-20   0.623657  -0.942296
C     US       black    L 2019-02-03   0.623607   1.678916)


(('M', 'white'),                color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13   1.555758  -3.690971
      US       white    M 2019-01-27   0.007590   0.297369
C     CA       white    M 2019-03-10   1.173790  -1.170137)


(('S', 'black'),                color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.701038   1.651489
B     CN       black    S 2019-02-17  -0.061813   1.710104)


(('S', 'white'),                color size       date  feature_1  feature_2
class country
A     CN       white    S 2019-02-10   0.217375   1.611896)


(('XL', 'black'),                color size       date  feature_1  feature_2
class country
C     JP       black   XL 2019-03-03  -0.596158  -3.032008)


(('XL', 'white'),                color size       date  feature_1  feature_2
class country
A     CA       white   XL 2019-02-24  -0.023663  -1.048633)

对分组后的数据size函数获得组别个数

In [8]:
print(group_1.size())
print(group_2.size())

size
L     2
M     3
S     3
XL    2
dtype: int64
size  color
L     black    2
M     white    3
S     black    2
      white    1
XL    black    1
      white    1
dtype: int64

此外还可以利用函数进行分组。注意到groupby函数中axis=1对列进行分组，axis=0对行进行分组

In [9]:
data_df

               color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.701038   1.651489
B     CN       white    M 2019-01-13   1.555758  -3.690971
      US       black    L 2019-01-20   0.623657  -0.942296
      US       white    M 2019-01-27   0.007590   0.297369
C     US       black    L 2019-02-03   0.623607   1.678916
A     CN       white    S 2019-02-10   0.217375   1.611896
B     CN       black    S 2019-02-17  -0.061813   1.710104
A     CA       white   XL 2019-02-24  -0.023663  -1.048633
C     JP       black   XL 2019-03-03  -0.596158  -3.032008
      CA       white    M 2019-03-10   1.173790  -1.170137

In [10]:
def get_letter_type(letter):
    if 'feature' in letter:
        return 'feature'
    else:
        return 'other'


for i in list(data_df.groupby(get_letter_type, axis=1)):
    print(i)
    print('\n')

('feature',                feature_1  feature_2
class country
A     JP        0.701038   1.651489
B     CN        1.555758  -3.690971
      US        0.623657  -0.942296
      US        0.007590   0.297369
C     US        0.623607   1.678916
A     CN        0.217375   1.611896
B     CN       -0.061813   1.710104
A     CA       -0.023663  -1.048633
C     JP       -0.596158  -3.032008
      CA        1.173790  -1.170137)


('other',                color size       date
class country
A     JP       black    S 2019-01-06
B     CN       white    M 2019-01-13
      US       black    L 2019-01-20
      US       white    M 2019-01-27
C     US       black    L 2019-02-03
A     CN       white    S 2019-02-10
B     CN       black    S 2019-02-17
A     CA       white   XL 2019-02-24
C     JP       black   XL 2019-03-03
      CA       white    M 2019-03-10)

分组对象除了列标签之外，还可以是索引，其中用不同的level值来区分多重索引。

In [11]:
for i in list(data_df.groupby(level=[0, 1])):
    print(i)
    print('\n')

(('A', 'CA'),                color size       date  feature_1  feature_2
class country
A     CA       white   XL 2019-02-24  -0.023663  -1.048633)


(('A', 'CN'),                color size       date  feature_1  feature_2
class country
A     CN       white    S 2019-02-10   0.217375   1.611896)


(('A', 'JP'),                color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.701038   1.651489)


(('B', 'CN'),                color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13   1.555758  -3.690971
      CN       black    S 2019-02-17  -0.061813   1.710104)


(('B', 'US'),                color size       date  feature_1  feature_2
class country
B     US       black    L 2019-01-20   0.623657  -0.942296
      US       white    M 2019-01-27   0.007590   0.297369)


(('C', 'CA'),                color size       date  feature_1  feature_2
class country
C     CA       white    M 2019-03-10    1.17379  -1.170137)


(('C', 'JP'),                color size       date  feature_1  feature_2
class country
C     JP       black   XL 2019-03-03  -0.596158  -3.032008)


(('C', 'US'),                color size       date  feature_1  feature_2
class country
C     US       black    L 2019-02-03   0.623607   1.678916)

DataFrame可以根据列标签和索引两者同时分组,分组后可以在不同组间进行迭代

In [12]:
group_3 = data_df.groupby(['country', 'color'])
for name, group in group_3:
    print(name)
    print(group)
    print('\n')

('CA', 'white')
               color size       date  feature_1  feature_2
class country
A     CA       white   XL 2019-02-24  -0.023663  -1.048633
C     CA       white    M 2019-03-10   1.173790  -1.170137


('CN', 'black')
               color size       date  feature_1  feature_2
class country
B     CN       black    S 2019-02-17  -0.061813   1.710104


('CN', 'white')
               color size       date  feature_1  feature_2
class country
B     CN       white    M 2019-01-13   1.555758  -3.690971
A     CN       white    S 2019-02-10   0.217375   1.611896


('JP', 'black')
               color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06   0.701038   1.651489
C     JP       black   XL 2019-03-03  -0.596158  -3.032008


('US', 'black')
               color size       date  feature_1  feature_2
class country
B     US       black    L 2019-01-20   0.623657  -0.942296
C     US       black    L 2019-02-03   0.623607   1.678916


('US', 'white')
               color size       date  feature_1  feature_2
class country
B     US       white    M 2019-01-27    0.00759   0.297369

当GroupBy对象被建立后，我们可以用agg函数对分组后的数据进行计算。下例中计算了group_3中feature_1的最大值和feature_2的均值。

In [13]:
group_2.agg({'feature_1': np.min, 'feature_2': np.mean})

            feature_1  feature_2
size color
L    black   0.623607   0.368310
M    white   0.007590  -1.521246
S    black  -0.061813   1.680796
     white   0.217375   1.611896
XL   black  -0.596158  -3.032008
     white  -0.023663  -1.048633

接下来我们使用transform函数对groupby对象进行变换，transform的计算结果和原始数据的形状保持一致。下例中我们自定义了函数data_range来获得根据size分组后各个值的范围。

In [16]:
data_range = lambda x: x.max() - x.min()
data_df.groupby('size').transform(data_range)

                 date  feature_1  feature_2
class country
A     JP      42 days   1.735983   5.502831
B     CN      56 days   3.049002   2.657217
      US      14 days   0.107835   1.825062
      US      56 days   3.049002   2.657217
C     US      14 days   0.107835   1.825062
A     CN      42 days   1.735983   5.502831
B     CN      42 days   1.735983   5.502831
A     CA       7 days   0.840518   3.693605
C     JP       7 days   0.840518   3.693605
      CA      56 days   3.049002   2.657217

另外我们还常常通过transform函数将缺失值替换为组间平均值。

In [17]:
data_df.iloc[1, 2:4] = np.NaN
group_4 = data_df.groupby('size')
f = lambda x: x.fillna(x.mean())
df_trans = group_4.transform(f)
df_trans

                    date  feature_1  feature_2
class country
A     JP      2019-01-06  -0.664015   1.532936
B     CN      2019-02-17  -0.331643   1.272754
      US      2019-01-20  -0.525789  -1.261101
      US      2019-01-27  -0.871058   3.929972
C     US      2019-02-03  -0.633624  -3.086163
A     CN      2019-02-10   0.733126  -3.969895
B     CN      2019-02-17  -1.002858   1.235526
A     CA      2019-02-24  -0.491722   2.532934
C     JP      2019-03-03   0.348796  -1.160670
      CA      2019-03-10   0.207771   2.686580

In [18]:
data_df

               color size       date  feature_1  feature_2
class country
A     JP       black    S 2019-01-06  -0.664015   1.532936
B     CN       white    M        NaT        NaN   1.272754
      US       black    L 2019-01-20  -0.525789  -1.261101
      US       white    M 2019-01-27  -0.871058   3.929972
C     US       black    L 2019-02-03  -0.633624  -3.086163
A     CN       white    S 2019-02-10   0.733126  -3.969895
B     CN       black    S 2019-02-17  -1.002858   1.235526
A     CA       white   XL 2019-02-24  -0.491722   2.532934
C     JP       black   XL 2019-03-03   0.348796  -1.160670
      CA       white    M 2019-03-10   0.207771   2.686580

根据列标签color进行分组后对列标签feature_1使用rolling方法,滚动计算最新的三个值的平均。

In [19]:
data_df.groupby('color').rolling(3).feature_1.mean()

color  class  country
black  A      JP              NaN
       B      US              NaN
       C      US        -0.607810
       B      CN        -0.720757
       C      JP        -0.429229
white  B      CN              NaN
              US              NaN
       A      CN              NaN
              CA        -0.209885
       C      CA         0.149725
Name: feature_1, dtype: float64

expanding函数会对给定的操作（如下例中的sum）进行叠加

In [20]:
data_df.groupby('color').expanding(3).feature_1.sum()

color  class  country
black  A      JP              NaN
       B      US              NaN
       C      US        -1.823429
       B      CN        -2.826286
       C      JP        -2.477491
white  B      CN              NaN
              US              NaN
       A      CN              NaN
              CA        -0.629654
       C      CA        -0.421883
Name: feature_1, dtype: float64

filter函数的参数是作用于整个组且返回值为True或False的函数，我们可以利用filter函数得到分组后的某些特定组别,如下例中元素个数大于三的分组。

In [21]:
data_df.groupby('class').filter(lambda x: len(x) > 3)

               color size       date  feature_1  feature_2
class country
B     CN       white    M        NaT        NaN   1.272754
      US       black    L 2019-01-20  -0.525789  -1.261101
      US       white    M 2019-01-27  -0.871058   3.929972
      CN       black    S 2019-02-17  -1.002858   1.235526

有些对于分组数据的处理用transform和aggregate都很难完成，这时候我们需要使用apply函数，apply相较两者更加灵活。在apply中可使用用自定义函数。

In [22]:
data_df.groupby('class')['feature_1'].apply(lambda x: x.describe())

class
A      count    3.000000
       mean    -0.140870
       std      0.761790
       min     -0.664015
       25%     -0.577869
       50%     -0.491722
       75%      0.120702
       max      0.733126
B      count    3.000000
       mean    -0.799902
       std      0.246366
       min     -1.002858
       25%     -0.936958
       50%     -0.871058
       75%     -0.698424
       max     -0.525789
C      count    3.000000
       mean    -0.025686
       std      0.531191
       min     -0.633624
       25%     -0.212926
       50%      0.207771
       75%      0.278284
       max      0.348796
Name: feature_1, dtype: float64

In [23]:
def f(group):
    return pd.DataFrame({'original' : group,'demeaned' : group - group.mean()})
data_df.groupby('class')['feature_1'].apply(f)

               original  demeaned
class country
A     JP      -0.664015 -0.523145
B     CN            NaN       NaN
      CN      -1.002858 -0.202956
      US      -0.525789  0.274112
      US      -0.871058 -0.071156
C     US      -0.633624 -0.607939
A     CN       0.733126  0.873996
      CA      -0.491722 -0.350851
C     JP       0.348796  0.374482
      CA       0.207771  0.233457

# 参考文献

1. pandas toolkit
2. https://cloud.tencent.com/developer/article/1193823