In [1]:
import numpy as np
import pandas as pd

In [12]:
file_path='/Users/shanshu/Downloads/offtake/ECInterfaceOfftake2021.csv'

In [13]:
pd.set_option('display.float_format',lambda x : '%.5f' % x)

In [14]:
df = pd.read_csv(file_path,
                 names=[
                     'InterfaceID',
                     'Action',
                     'Type',
                     'MATERIAL_NUMBER',
                     'MATERIAL_NAME_CN',
                     'MATERIAL_NAME_EN',
                     'BU',
                     'BU_GROUP',
                     'CUSTOMER',
                     'CUSTOMER_LEVEL_2',
                     'nps',
                     'Unit',
                     'Date',
                     'Year',
                     'Yearmonth',
                     'Yearmonthdy',
                     'CREATE_ON',
                     'DATA_STATE',
                     'REMARK',
                     'BU_SUB',
                     'GTC_TYPE',
                     'Skuid',
                     'STORE1',
                     'STORE2',
                 ],
                 dtype={
                     'InterfaceID':np.int64,
                     #'Action':np.,
                     #'Type',
                     #'MATERIAL_NUMBER',
                     #'MATERIAL_NAME_CN',
                     #'MATERIAL_NAME_EN',
                     #'BU',
                     #'BU_GROUP',
#                      'CUSTOMER',
#                      'CUSTOMER_LEVEL_2',
                     'nps':np.float32,
                     'Unit':np.float32,
#                      'Date',
#                      'Year',
#                      'Yearmonth',
#                      'Yearmonthdy',
#                      'CREATE_ON',
#                      'DATA_STATE',
#                      'REMARK',
#                      'BU_SUB',
#                      'GTC_TYPE',
#                      'Skuid',
#                      'STORE1',
#                      'STORE2',
                 })

/opt/anaconda3/envs/cap/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,5,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
df.describe()

,InterfaceID,MATERIAL_NUMBER,nps,Unit,Year,Yearmonth,Yearmonthdy,DATA_STATE,REMARK,GTC_TYPE
count,11275828.00000,11275828.00000,11275828.00000,11275828.00000,11275828.00000,11275828.00000,11275828.00000,11275828.00000,0.00000,11275828.00000
mean,32017223.43175,559761878.09322,1578.82812,58.45397,0.00000,202102.91577,20210306.76651,0.03833,nan,3.24111
std,3257723.26654,18416818525.41801,9269.27832,345.98508,0.00000,1.40782,140.62902,0.19199,nan,1.29919
min,26323710.00000,11149.00000,-558036.50000,-17808.00000,0.00000,202101.00000,20210101.00000,0.00000,nan,1.00000
25%,29197679.75000,12355455.00000,100.97340,4.00000,0.00000,202102.00000,20210205.00000,0.00000,nan,2.00000
50%,32016636.50000,12416241.00000,387.82300,18.00000,0.00000,202103.00000,20210313.00000,0.00000,nan,4.00000
75%,34838567.25000,12456821.00000,1112.67249,45.00000,0.00000,202104.00000,20210420.00000,0.00000,nan,4.00000
max,37658540.00000,630064464584.00000,4477841.50000,77568.00000,0.00000,202105.00000,20210527.00000,1.00000,nan,5.00000

In [17]:
df['Date'].min()

'2021-01-01 12:00:00'

In [18]:
df['Date'].max()

'2021-05-27 12:00:00'

In [20]:
v=df['InterfaceID'].value_counts()

In [21]:
v.count()

11275828

In [25]:
df['CUSTOMER'].value_counts()

RT-Mart        10653136
Tmall-旗舰店        209213
JD-自营            195008
JD-POP 旗舰店        67532
Tmall-海外旗舰店       30857
Ali-零售通           29910
Tmall-天猫超市        23507
盒马                18837
苏宁                12271
小红书                8779
唯品会自营              6319
JD-新通路自营           5966
Tmall-国际直营         4684
JD-跨境店             4495
拼多多旗舰店             4306
JD-POP NDG          845
Tmall-分销            163
Name: CUSTOMER, dtype: int64

In [26]:
df['Action'].value_counts()

Double11    9269514
618         1642036
618          364278
Name: Action, dtype: int64

In [27]:
df['Type'].value_counts()

Actual    11275828
Name: Type, dtype: int64

In [28]:
df['GTC_TYPE'].value_counts()

4    8019383
1    2675802
2     287813
5     169382
3     123448
Name: GTC_TYPE, dtype: int64

In [22]:
df.count()

InterfaceID         11275828
Action              11275828
Type                11275828
MATERIAL_NUMBER     11275828
MATERIAL_NAME_CN    11275292
MATERIAL_NAME_EN      151251
BU                  10913335
BU_GROUP            10913686
CUSTOMER            11275828
CUSTOMER_LEVEL_2    11275828
nps                 11275828
Unit                11275828
Date                11275828
Year                11275828
Yearmonth           11275828
Yearmonthdy         11275828
CREATE_ON           11275828
DATA_STATE          11275828
REMARK                     0
BU_SUB              10913335
GTC_TYPE            11275828
Skuid               11275828
STORE1              11275828
STORE2              10653299
dtype: int64

In [40]:
# file_path_offtake='/Users/shanshu/Downloads/off_take-last-wangqian.csv'
file_path_offtake='/Users/shanshu/Downloads/off_take.csv'

In [48]:
# df_offtake = pd.read_csv(file_path_offtake, encoding='utf-8')

In [49]:
# df_offtake.head(1000)

In [50]:
# df_offtake.tail()

       customer_id    sku_id      month  offtake_qty  offtake_value
164479    å¤_ä¹°è_  12462192  2020/12/1      0.00000        0.00000
164480    æ¯__ä¼__  12462192  2020/12/1      0.00000        0.00000
164481     ç¾__ä¼_  12462191  2020/12/1      0.00000        0.00000
164482     ç¾__ä¼_  12462192  2020/12/1      0.00000        0.00000
164483     é£_º«ä¼  12462192  2020/12/1      0.00000        0.00000

In [51]:
# print(df_offtake)

       customer_id    sku_id      month  offtake_qty  offtake_value
0               JD    108812   2018/1/1      0.00000        0.00000
1               JD     11111   2018/1/1      0.00000      149.80503
2               JD     11112   2018/1/1      0.00000       54.73840
3               JD     11113   2018/1/1      0.00000        0.00000
4               JD     11114   2018/1/1      0.00000        0.00000
...            ...       ...        ...          ...            ...
164479    å¤_ä¹°è_  12462192  2020/12/1      0.00000        0.00000
164480    æ¯__ä¼__  12462192  2020/12/1      0.00000        0.00000
164481     ç¾__ä¼_  12462191  2020/12/1      0.00000        0.00000
164482     ç¾__ä¼_  12462192  2020/12/1      0.00000        0.00000
164483     é£_º«ä¼  12462192  2020/12/1      0.00000        0.00000

[164484 rows x 5 columns]

In [76]:
import pandas as pd
import os
import chardet

file_path_offtake='/Users/shanshu/Downloads/off_take.csv'

def get_encoding(filename):
    """ 
    返回文件编码格式 
    """
    with open(filename, 'rb') as f:

        return chardet.detect(f.read())['encoding']


def to_utf8(filename):
    """ 
    保存为 to_utf-8 
    """
    encoding = get_encoding(filename)
    ext = os.path.splitext(filename)
    if ext[1] == '.csv':
        if 'gb' in encoding or 'GB' in encoding:
            df = pd.read_csv(filename, engine='python', encoding='GBK')
        else:
            df = pd.read_csv(filename, engine='python', encoding='utf-8')
        df.to_excel(ext[0] + '.xlsx')

    elif ext[1] == '.xls' or ext[1] == '.xlsx':
        if 'gb' in encoding or 'GB' in encoding:
            df = pd.read_excel(filename, encoding='GBK')
        else:
            df = pd.read_excel(filename, encoding='utf-8')
        df.to_excel(filename)
    else:
        print('only support csv, xls, xlsx format')


def batch_to_utf8(path, ext_name='csv'):
    """ 
    path下，后缀为 ext_name的乱码文件，批量转化为可读文件 
    """

    for file in os.listdir(path):
        if os.path.splitext(file)[1] == '.' + ext_name:
            to_utf8(os.path.join(path, file))


# batch_to_utf8('.') # 对当前目录下的所有csv文件保存为xlsx格式,utf-8编码的文件

In [77]:
get_encoding(file_path_offtake)

'utf-8'

In [ ]:
to_utf8(file_path_offtake)

In [54]:
# import csv
# with open(file_path_offtake, 'r') as f:
#     reader = csv.reader(f)
#     result = list(reader)
#     print(result[1])

['JD', '108812', '2018/1/1', '0', '0']